@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
body {
    background: #fff8ed;
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }
  
  h1 {
    font-size: 2em;
    color: #fff;
}

h2 {
    font-size: 1.5em;
    margin: 20px;
}

a {
    color: #e50914;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    background-color: #333;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: left;
    transition: transform 0.3s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-name {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.view-details {
    font-size: 0.9em;
    color: #e50914;
    text-decoration: none;
}

.view-details:hover {
    text-decoration: underline;
}

.logout-link {
    margin-top: 20px;
    font-size: 1em;
}